@import 'https://fonts.googleapis.com/css?family=Noto+Sans';

body {
    padding: 0;
    margin: 0;
    background: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Чат */
.chat-thread {
    margin: 15px auto 0 auto;
    padding: 0 20px 0 0;
    list-style: none;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    top: 60px;
    bottom: 70px;
    left: 50%;
    transform: translate(-50%);
}

.chat-thread li {
    position: relative;
    clear: both;
    display: flex;
    flex-direction: column;
    padding: 4px 10px 4px 10px;
    margin: 0 0 10px 0;
    font: 16px/20px "Noto Sans", sans-serif;
    border-radius: 10px;
    background-color: rgba(25, 147, 147, 0.2);
}

/* Аватар */
.chat-thread li:before {
    position: absolute;
    top: 0;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    content: "";
    background-size: cover;
}

.user-avatar {
    position: absolute;
    top: 0;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.current-user .user-avatar {
    right: -80px;
}

.other-user .user-avatar {
    left: -80px;
}

/* Облако сообщений */
.chat-thread li:after {
    position: absolute;
    top: 15px;
    content: "";
    width: 0;
    height: 0;
}

.chat-thread li {
    animation: show-chat-odd 0.15s 1 ease-in;
    -moz-animation: show-chat-odd 0.15s 1 ease-in;
    -webkit-animation: show-chat-odd 0.15s 1 ease-in;
    float: right;
    color: #0AD5C1;
    max-width: 80%;
    word-wrap: break-word;
}

.chat-thread .current-user {
    float: right;
    margin-right: 70px;
    color: #0AD5C1;
    background-color: rgba(25, 147, 147, 0.2);
}

.chat-thread .current-user:after {
    border-right: 15px solid transparent;
    right: -15px;
    border-top: 15px solid rgba(25, 147, 147, 0.2);
}

.chat-thread .other-user {
    float: left;
    margin-left: 80px;
    color: #000;
    background-color: #ddd;
}

.chat-thread .other-user:after {
    border-left: 15px solid transparent;
    left: -15px;
    border-top: 15px solid #ddd;
}

.user-name {
    font-size: 0.8em;
    color: gray;
}

.timestamp {
    font-size: 0.7em;
    color: gray;
    align-self: flex-end;
}

.message-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.message-content {
    overflow: hidden;
    word-break: break-all;
}

/* Окно ввода сообщений */
.chat-message {
    position: fixed;
    bottom: 18px;
    display: flex;
    align-items: center;
    width: 100%;
}

.chat-message-input {
    flex-grow: 1;
    flex-shrink: 1;
    height: 35px;
    max-width: 90%;
    font: 18px "Noto Sans", sans-serif;
    background: none;
    color: #0AD5C1;
    border: 1px solid rgba(25, 147, 147, 0.2);
    border-radius: 15px;
    padding: 0 8px;
    outline: none;
    margin: 0 5px;
}

.chat-file-label,
.emoji-button,
.send-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(25, 147, 147, 0.2);
    color: #0AD5C1;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-file-input {
    display: none;
}

.responsive-image {
    max-width: 300px;
    width: 100%;
    height: auto;
}

#emoji-picker {
    position: fixed;
    bottom: 70px;
    width: 100%;
    height: 20rem;
}

.send-button .fas {
    font-size: 18px;
}

@media (max-width: 480px) {
    .chat-message-input {
        font-size: 16px;
    }

    .chat-file-label,
    .emoji-button,
    .send-button {
        width: 35px;
        height: 35px;
        font-size: 16px;
    }
}

/* Навигационная панель */
nav {
    width: 100%;
    background: #082a2c;
    padding: 20px 0;
    color: white;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    padding: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #0AD5C1;
}

.navbar-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.navbar-left,
.navbar-center,
.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-left {
    flex: 0.15;
    justify-content: flex-start;
}

.navbar-center {
    flex: 0.7;
    justify-content: center;
    text-align: center;
    font-size: 1.2em;
}

.navbar-right {
    flex: 0.15;
    justify-content: flex-end;
}

.navbar-item {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-item:hover {
    color: #0AD5C1;
}

.navbar-profile {
    display: flex;
    align-items: center;
}

.navbar-avatar {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

/* Small screens */
@media all and (max-width: 767px) {
    .chat-thread {
        width: 90%;
    }

    .chat-message {
        left: 2.5%;
        width: 95%;
    }

    .chat-thread li {
        font-size: 0.9rem;
    }

    .user-name {
        font-size: 0.7em;
    }

    .timestamp {
        font-size: 0.6em;
    }
}

/* Medium and large screens */
@media all and (min-width: 768px) {
    .chat-thread {
        width: 95%;
    }

    .chat-message {
        left: 2.5%;
        width: 95%;
    }
}

@keyframes show-chat-even {
    0% {
        margin-left: -480px;
    }

    100% {
        margin-left: 0;
    }
}

@-moz-keyframes show-chat-even {
    0% {
        margin-left: -480px;
    }

    100% {
        margin-left: 0;
    }
}

@-webkit-keyframes show-chat-even {
    0% {
        margin-left: -480px;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes show-chat-odd {
    0% {
        margin-right: -480px;
    }

    100% {
        margin-right: 0;
    }
}

@-moz-keyframes show-chat-odd {
    0% {
        margin-right: -480px;
    }

    100% {
        margin-right: 0;
    }
}

@-webkit-keyframes show-chat-odd {
    0% {
        margin-right: -480px;
    }

    100% {
        margin-right: 0;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(25, 147, 147, 0.1);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(25, 147, 147, 0.2);
}