.content-padding {
    padding-bottom: 60px;
}

.navbar-top {
    background: #072A2B;
    padding: 0px;
    height: 62px;
}

.navbar-bottom {
    background: #072A2B;
    height: 62px;
}

.logo-svg {
    padding: 5px;
    width: 50px;
}

.svg_img {
    width: 40px;
}

@media (max-width: 575.98px) {
    .svg_img {
        width: 30px;
    }
}

@media (min-width: 992px) {
    .svg_img {
        width: 60px;
    }
    .logo-svg {
        width: 70px;
    }
}

/* Бургер меню */

.burger-button {
    position: absolute;
    top: 2.1vh;
    right: 3vh;
    z-index: 9;
    padding: 9px;
}


.burger-button span {
    width: 33px;
    height: 1.5px;
    border: none;
    background-color: #D37724;
    display: block;
    border-radius: 2px;
    transition: 0.3s;
    margin: 2px 0;
}


.burger-button.active span {
    border-color: #D37724;
    background-color: #D37724;
}


.burger-top, .burger-bottom {
    position: absolute;
}


.burger-top {
    top: 0;
}

.burger-bottom {
    bottom: 0;
}


.burger-button.active .burger-top {
    position: absolute;
    top: 10px;
    transform: rotateZ(45deg);
}


.burger-button.active .burger-middle {
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}


.burger-button.active .burger-bottom {
    position: absolute;
    bottom: 8px;
    transform: rotateZ(-45deg);
}


.burger-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: #072A2B;
    padding: 5px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    z-index: 8;
    transition: 0.3s;
    flex-direction: column;
    align-items: center;
    width: 250px;
}


.burger-menu.active {
    display: flex;
    height: calc(1080% + 150px);
    justify-content: space-evenly;
    align-items: center;
}


.burger-menu a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 300;
    color: #C3BFBC;
    font-family: 'Alegreya Sans SC', sans-serif;
    display: block;
    padding: 5px 15px;
    text-align: center;
    white-space: nowrap;
    margin: 0;
}

@media (max-width: 576px) {
    .burger-menu {
        width: 100%;
    }

    .burger-menu a {
        font-size: 20px;
    }
}


.navi_admin {
    margin-bottom: 20px;
}

.avatar-display {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.group-chat-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid black;
    object-fit: cover;
    margin-bottom: 15px;
}



