html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}


.base_styles {
    position: relative;
    width: 100%;
    /*height: 2121px;*/
    height: 100%;
    background: #217995;
    overflow: hidden;
}


.header {
    position: absolute;
    width: 100%;
    height: 155px;
    left: 0;
    top: 0;
    background: #072A2B;
}


.hamburger_menu {
    position: absolute;
    width: 39.77px;
    height: 25.19px;
    left: 347px;
    top: 25px;
}


.titany_logo {
    position: absolute;
    width: 118px;
    height: 104px;
    left: 7px;
    top: -9px;
    border-radius: 34px;
}


.titany_logo_img {
    width: 200px;
    height: 200px;
    border-radius: 34px;
}


.navbar {
    position: absolute;
    width: 100%;
    height: 155px;
    left: 0;
    bottom: 0;
    background: #072A2B;
}


.menu {
    display: flex;
    justify-content: space-around;
}


.svg_img {
    height: 81px;
    width: 81px;
}


li {
    list-style-type: none;
}


ul {
    padding-inline-start: 0;
}

.svg {
    padding-top: 21px;
}


.svg_link {
    height: 81px;
    width: 81px;
}


.about_current_page {
    display: flex;
    width: 100%;
    height: 63px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}


.newsline_header {
    width: 900px;
    height: 120px;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 43px;
    text-align: center;
    color: #FFFFFF;
}

.container.container_content {
    max-height: calc(100% - 310px);
    overflow: auto;
    margin-top: 155px;
}


/*.scrollable-container {*/
/*    max-height: 1963px;*/
/*    overflow-y: auto;*/
/*}*/


.scrollable-container::-webkit-scrollbar {
    width: 0.3em;
}


.scrollable-container::-webkit-scrollbar-track {
    background-color: transparent;
}


.scrollable-container::-webkit-scrollbar-thumb {
    background-color: silver;
}


.user_card {
    flex: 0 0 150px;
    background: #EEEEEE;
    border: 4px solid #0A292C;
    border-radius: 10px;
    width: 800px;
    height: 160px;
    display: flex;
    margin-top: 20px;
}


.user_pic {
    width: 92px;
    height: 92px;
    border-radius: 50px;
}


.block_profiles {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.form-label {
    font-size: 38px;
}

.form-control {
    height: 30px;
    margin-left: 20px;
    width: 200px;
}


.about_user {
    text-align: center;
    width: 70%;
}


.user_pic_div {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.about_user_name {
    width: 472px;
    height: 40px;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    margin-top: 30px;
}


.about_user_name_heading {
    margin-block-start: 0.5em;
}


.about_user_scope_heading {
    margin-block-start: 0.67em;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    text-align: center;
    color: #000000;
}


.about_user_scope {
    width: 472px;
    height: 34px;
}


.separator {
    width: 390px;
}


.user_card_link {
    width: 100%;
    height: 100%;
    display: flex;
    text-decoration: none;
    color: white;
}


.profile_card_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}


.profile_card {
    width: 850px;
    height: 1600px;
    background: #EEEEEE;
    border: 3px solid #0A292C;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
}

.eve_name {
    text-align: center;
}


.profile_card_pic_div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


.profile_card_pic {
    width: 352px;
    height: 362px;
}


.profile_card_info_div {
    margin-top: 30px;
    flex-direction: column;
    width: 690px;
    height: 900px;
    margin-left: 82px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile_likes_count {
    margin-block-start: 0.7em;
    margin-block-end: 0.7em;
    font-style: italic;
    width: 528px;
    height: 42px;
    font-weight: 400;
    font-size: 34px;
    line-height: 44px;
    text-align: center;
    color: #000000;
}

.profile_first_last_names {
    width: 528px;
    height: 42px;
    font-style: italic;
    font-weight: 800;
    font-size: 44px;
    line-height: 44px;
    text-align: center;
    color: #000000;
    margin-top: 20px;
}


.account_info_sm {
    margin-block-start: 0.7em;
    margin-block-end: 0.7em;
    font-style: italic;
    width: 528px;
    height: 42px;
    font-weight: 400;
    font-size: 34px;
    line-height: 44px;
    text-align: center;
    color: #000000;
}


.account_info_big {
    margin-block-start: 0.7em;
    margin-block-end: 0.7em;
    font-style: italic;
    width: 528px;
    height: 175px;
    font-weight: 400;
    font-size: 34px;
    line-height: 44px;
    text-align: center;
    color: #000000;
}


.profile_card_button_div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    height: 82px;
}


.profile_card_button_wrapper {
    width: 550px;
    height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D37724;
    border: 3px solid #0A292C;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
}


.profile_card_button {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 40px;
    padding-bottom: 5px;
}


.update_profile_link {
    text-decoration: none;
    color: white;
}


.thank_profile_link {
    text-decoration: none;
    color: white;
}


.profiles_card_info {
    overflow-y: scroll;
    max-height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.profiles_card_info::-webkit-scrollbar {
    width: 0.5em;
}


.profiles_card_info::-webkit-scrollbar-track {
    background-color: transparent;
}


.profiles_card_info::-webkit-scrollbar-thumb {
    background-color: transparent;
}


.events_div {
    display: flex;
    justify-content: center;
    align-items: center;
}


.event_card {
    width: 900px;
    height: 340px;
    background: #EEEEEE;
    border: 6px solid #0A292C;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
}


.event_card_image {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.event_card_description {
    font-style: italic;
    font-weight: 400;
    font-size: 28px;
    line-height: 30px;
    color: #000000;
}


.event_card_img {
    width: 220px;
    height: 220px;
    border: 6px solid #0A292C;
    border-radius: 6px;
}


.event_card_description_header_div {
    width: 520px;
    height: 35px;
    background: rgba(238, 238, 238, 0.933333);
}


.event_card_description_header {
    width: 540px;
    height: 70px;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    color: #000000;
}


.event_card_description {
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    color: #000000;
}


.wrapper::-webkit-scrollbar {
    width: 0.5em;
}


.wrapper::-webkit-scrollbar-track {
    background-color: transparent;
}


.wrapper::-webkit-scrollbar-thumb {
    background-color: transparent;
}


.event_card_link {
    text-decoration: none;
}


.event_div {
    overflow-y: scroll;
    max-height: 550px;
}


.event_div::-webkit-scrollbar {
    width: 0.5em;
}

.about_current_page_search {
    display: flex;
    width: 100%;
    height: 63px;
    justify-content: center;
    align-items: center;
}


.event_div::-webkit-scrollbar-track {
    background-color: transparent;
}


.event_div::-webkit-scrollbar-thumb {
    background-color: transparent;
}


.event_detail_card_pic {
    border: 2px solid #0A292C;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}


.event_detail_card_header {
    margin-block-end: 0;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 120px;
}

.photo_event {
    display: flex;
    align-items: center;
    justify-content: center;
}


.event_card_description_div {
    width: 530px;
}


.calendar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 1720px;
    overflow-y: auto;
}


.calendar-header {
    text-align: center;
    margin-top: 100px;
}


.calendar-wrapper {
    background-color: #217995;
    color: #fff;
    padding: 0 20px 20px;
    order: 2;
    display: flex;
    flex-direction: column;
}


.calendar-buttons {
    display: flex;
    justify-content: space-around;
    order: 1;
}


.calendar-buttons a {
    display: inline-block;
    color: #fff;
    padding: 20px 40px;
    margin-right: 20px;
    text-decoration: none;
    font-size: 40px;
    margin-top: 70px;
}


.btn-info {
    background-color: #072A2B;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}


.calendar {
    width: 100%;
    border-collapse: collapse;
    margin-top: 70px;
}


.calendar caption {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0;
}


.calendar th {
    background-color: #217995;
    color: #fff;
    padding: 10px;
    font-size: 54px;
}


.calendar td {
    padding: 10px;
    vertical-align: top;
}


.calendar .date {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 54px;
}


.calendar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


.calendar li {
    margin-bottom: 5px;
}


.calendar li a {
    color: #217995;
    text-decoration: none;
}


.calendar li a:hover {
    text-decoration: underline;
}


.event-list {
    display: none;
}


.event-count {
    display: block;
    font-size: 36px;
    color: orange;
}


.back_to_calendar_link {
    margin-top: 100px;
}


.calendar_new_event_button {
    display: flex;
    justify-content: center;
    order: 3;
}


.events-today {
    order: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.newsline-header {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 86px;
    text-align: center;
    color: #FFFFFF;
    margin-block-end: 0;
    margin-block-start: 0;
}


.event_card_mini {
    width: 780px;
    height: 80px;
    background: #EEEEEE;
    border: 3px solid #0A292C;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


.event_name_calendar {
    color: black;
    font-size: 36px;
}


.event_card_mini_link {
    text-decoration: none;
}


.calendar_button_custom {
    background: #D37724;
    border: 3px solid #0A292C;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
}


.calendar-container::-webkit-scrollbar {
    width: 0.5em;
}


.calendar-container::-webkit-scrollbar-track {
    background-color: transparent;
}


.calendar-container::-webkit-scrollbar-thumb {
    background-color: transparent;
}


.events_for_today {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 86px;
    color: #FFFFFF;
    margin-block-end: 0;
    margin-block-start: 0;
}


.burger-button {
    position: absolute;
    top: 2.5vh;
    right: 3vh;
    z-index: 9;
    padding: 20px;
}


.burger-button span {
    width: 80px;
    border: 2px solid #D37724;
    background-color: #D37724;
    display: block;
    border-radius: 22px;
    transition: 0.3s;
}


.burger-button.active span {
    border-color: #D37724;
    background-color: #D37724;
}


.burger-top, .burger-bottom {
    position: absolute;
}


.burger-top {
    top: -02px;
}


.burger-bottom {
    bottom: -02px;
}


.burger-button.active .burger-top {
    position: absolute;
    top: 30px;
    transform: rotateZ(45deg);
}


.burger-button.active .burger-middle {
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}


.burger-button.active .burger-bottom {
    position: absolute;
    bottom: 8px;
    transform: rotateZ(-45deg);
}


.burger-menu {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #072A2B;
    padding: 5px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    z-index: 8;
    transition: 1s;
    flex-direction: column;
    align-items: center;
}


.burger-menu.active {
    display: flex;
    height: calc(1080% + 450px);
    justify-content: space-evenly;
    align-items: center;
}


.burger-menu a {
    text-decoration: none;
    font-size: 65px;
    font-weight: 300;
    color: #C3BFBC;
    font-family: 'Alegreya Sans SC', sans-serif;
    display: block;
    padding: 5px 15px;
    text-align: center;
    white-space: nowrap;
    margin: 0;
}


.burger_menu_nav_custom {
}


.navi_admin {
    margin-bottom: 50px;
}


.avatar-container {
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}


.create_chat_div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}


.chat_card {
    width: 348px;
    height: 505px;
    background: #EEEEEE;
    border: 3px solid #0A292C;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}


.update_chat_link {
    text-decoration: none;
    color: white;
}


.chat_admin {
    color: white;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
}


.chat_users {
    color: white;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
}


.about_user_chat {
    text-align: center;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.about_user_name_heading_chat {
    margin-block-start: 0;
}


.about_user_name_chat {
    width: 500px;
    height: auto;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 26px;
    text-align: center;
    color: #000000;
    margin-top: 0;
}


.chat_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 670px;
    justify-content: space-evenly;
    padding: 0 6px;
}


.create_chat_button {
    width: 275px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D37724;
    border: 3px solid #0A292C;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    cursor: pointer;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 5px;
    color: white;
}


.chat_name_field {
    border-radius: 6px;
    height: 30px;
}


.chat_description_field {
    border-radius: 10px;
}


.chat_name_field::placeholder {
    text-align: center;
}


.chat_description_field::placeholder {
    text-align: center;
    padding-top: 70px;
}


form > p {
    display: flex;
    flex-direction: column;
}


.log_form {
    margin-top: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.login_h {
    height: 116px;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 86px;
    text-align: center;
    color: #FFFFFF;
}

.user_booked_card {
    background: #EEEEEE;
    border: 4px solid #0A292C;
    border-radius: 10px;
    width: 800px;
    height: 160px;
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.no_profiles h5 {
    font-size: 36px;
}

.resident_booking_link {
    margin-top: 20px;
}


.log_btn {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    color: white;
    font-size: 40px;
    font-weight: 500;
    font-family: "Playfair Display", serif;


}


.profile_card_button_wrapper.log {
    width: 400px;
    margin-top: 60px;
}


.profile_card_button_login {
    width: 500px;
    height: 82px;
    border-radius: 10px;
    text-align: center;
    font-size: 40px;
}


.reg_form {
    margin-top: 600px;
    margin-left: 250px;
}


.resident {
    margin-top: 600px;


}


.login_h.ind {
    margin-left: 60px;
    margin-bottom: 50px;
    width: 900px;
}


.ind_butt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.chat_avatar_label {
    margin-top: 10px;
}


.request_list {
    padding: 50px 15px;
}

.request {
    border: solid black 2px;
    margin: 10px 0;
}

.request p {
    margin: 5px 5px;
}

.sender_user_pic {
    width: 20px;
    height: 20px;
}

.request_user_sender {

}

.request_detail {
    padding: 50px 15px;
}

.user_booked {
    border: solid black 2px;
}


.no_events_for_today {
    color: white;
}


.no_events_for_today {
    color: white;
    font-size: 36px;
}

.events_booked_list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat_timestamp {
    color: grey;
}

.new-resident-box {
    margin-top: 70px;
    margin-bottom: 10px;
    font-size: 40px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.new-resident-box a {
    color: #007bff;
    text-decoration: none;
}

.new-resident-box a:hover {
    text-decoration: underline;
}

.message-box {
    display: none;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    text-align: center;
    font-size: 18px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}


.custom-container {
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.custom-card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}


.custom-form .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}


.custom-form input[type="text"],
.custom-form textarea {
    width: 400px;
    height: 50px;
    /*padding: 10px;*/
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    text-align: center;
    font-size: 17px;
}

.custom-form select {
    width: 200px;
    height: 30px;
}

.custom-form div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.profile_card_button_wrapper log .but{
    display: flex;
    justify-content: center;
}

.col-7 card .custom-card{
    width: 300px;
    height: 800px;
}