{% extends 'base.html' %}
{% block content %}
    <div class="form_container">
        <div class="about_current_page">
            <h1 class="newsline_header">СОЗДАНИЕ ЧАТА</h1>
        </div>
        <div class="profile_card_wrapper">
            <div class="profile_card">
                <form method="post" enctype="multipart/form-data" class="chat_form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="create_chat_button">Создать чат</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}