{% extends 'base.html' %}
{% load static %}
{% block title %}Request Delete{% endblock %}
{% block content %}
<div class="request_detail">
    <div class="request_detail_header">
        {% if request.sub_level %}
        <h1>Запрос на подписку</h1>
        {% elif request.chat_request %}
        <h1>Запрос на создание чата</h1>
        {% else %}
        <h1>Запрос</h1>
        {% endif %}
    </div>
    <div class="request_detail_text">
        <p>Оправитель: <a href="{% url 'account_detail' request.user_sender.pk %}">{{ request.user_sender.first_name }} {{ request.user_sender.last_name }}</a></p>
        <p>Создан запрос: {{ request.created_at }}</p>
        {% if request.user_reviewer %}
        <p>Рецензент: <a href="{% url 'account_detail' request.user_reviewer.pk %}">{{ request.user_reviewer.first_name }} {{ request.user_reviewer.last_name }}</a></p>
        {% endif %}
        {% if request.approved or request.approved == False %}
            {% if request.approved == False %}
            <p>Запрос не одобрен</p>
            {% elif request.approved == True %}
            <p>Запрос одобрен</p>
            {% endif %}
        <p>Закрыт запрос: {{ request.closed_at }}</p>
        {% endif %}
        {% if request.request_text %}
        <p>Текст запроса: {{ request.request_text }}</p>
        {% endif %}
        {% if request.response_text %}
        <p>Текст ответа: {{ request.response_text }}</p>
        {% endif %}
        {% if request.sub_level %}
        <p>Зарпос на подписку уровня "{{ request.sub_level.level_name }}"</p>
        {% elif request.chat_request %}
        <p>Зарпос на создание чата "{{ request.chat_request.chat_name }}"</p>
            {% if request.chat_request.second_user %}
            <p>Второй пользователь: {{ request.chat_request.second_user.first_name }} {{ request.chat_request.second_user.last_name }}</p>
            {% endif %}
            {% if request.chat_request.cities %}
            <p>Город чата {{ request.chat_request.cities }}</p>
            {% endif %}
        <p>Описание чата: {{ request.chat_request.description }}</p>
        <p>Правила чата: {{ request.chat_request.rules }}</p>
        {% endif %}
    </div>
</div>
<h3 class="delete_text">Вы точно хотите удалить данный запрос?</h3>
<div class="delete_form_block">
    <div class="form_yes">
        <form action="{% url 'request_delete' request.pk %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Yes">
        </form>
    </div>
    <div class="form_no">
        <a href="{% url 'request_detail' request.pk %}">Нет</a>
    </div>
</div>
<a href="{% url 'request_list' %}">Вернусься на страницу запросов админу</a>
{% endblock %}